*, *:after, *:before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

body, html {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.content {
  padding: 0px 15px;
  max-width: 830px;
  margin: 0 auto;
}

.forScroll {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100px;
  height: 70px;
}

.burger {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: -70px;
  z-index: 100;
  background-color: transparent;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.burger__content {
  height: 70px;
  padding: 10px 0;
  position: relative;
}

.burger__content .burger-background {
  z-index: 108;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: -15px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.burger__content .burger-background.isOpened {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);
}

.burger__content__wrapper {
  z-index: 109;
  position: relative;
  background-color: white;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger__content__wrapper.isOpened {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.burger__content__wrapper .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.burger__content__wrapper .nav-bar a {
  color: black;
  text-decoration: none;
  font-size: 23px;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.burger__content__wrapper .nav-bar a + a {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.burger__content__wrapper img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.burger__content__button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  top: 15px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  overflow: hidden;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 110;
}

.burger__content__button.notTop {
  right: 0px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger__content__button span {
  width: 60%;
  position: absolute;
  left: 50%;
  height: 3px;
  background-color: black;
  font-size: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.burger__content__button span:first-child {
  top: 15px;
}

.burger__content__button span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger__content__button span:last-child {
  bottom: 15px;
}

.burger__content__button.isOpened {
  top: 425px;
}

.burger__content__button.isOpened span:first-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.burger__content__button.isOpened span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.burger__content__button.isOpened span:last-child {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: -70px;
  z-index: 100;
  background-color: transparent;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

header .container {
  height: 70px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header .container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .container .nav-bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 20px 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

header .container .nav-bar a:hover {
  background-color: white;
  color: black;
}

header.notTop {
  background-color: white;
}

header.notTop .nav-bar a {
  color: black;
}

header.notTop .nav-bar a:hover {
  background-color: black;
  color: white;
}

.planet {
  width: 100vw;
  height: 100vh;
  background: url(../sources/sunrise.jpg) center/cover fixed no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.planet .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.planet .content span {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  bottom: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.planet .content img {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  -webkit-animation: arrwoAnim 2s infinite;
          animation: arrwoAnim 2s infinite;
}

@-webkit-keyframes arrwoAnim {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes arrwoAnim {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

.planet .planet-content__title {
  font-size: 8em;
  color: white;
  font-weight: 700;
}

#work {
  position: relative;
  background-color: white;
}

#work .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 40px 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#work .work__card {
  max-width: 720px;
  min-width: 285px;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 25px 25px 50px 25px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}

#work .work__card img {
  width: 40%;
  max-height: 200px;
  margin-bottom: 15px;
}

#work .work__card__title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

#work .work__card__text {
  margin-top: 15px;
  font-size: 18px;
  color: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

#work .work__card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#work .work__card.isActive .work__card__text {
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
}

#work .work__card__open-close {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#work .work__card__open-close span {
  height: 3px;
  background-color: black;
  width: 20px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#work .work__card__open-close span:first-child {
  -webkit-transform: translate(calc(-50% - 6px), 50%) rotate(45deg);
          transform: translate(calc(-50% - 6px), 50%) rotate(45deg);
}

#work .work__card__open-close span:last-child {
  -webkit-transform: translate(calc(-50% + 6px), 50%) rotate(-45deg);
          transform: translate(calc(-50% + 6px), 50%) rotate(-45deg);
}

#work .work__card__open-close:hover {
  background-color: black;
}

#work .work__card__open-close:hover span {
  background-color: white;
}

#work .work__card__open-close.isActive span:first-child {
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
}

#work .work__card__open-close.isActive span:last-child {
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg);
}

#something {
  background-color: black;
  color: white;
  position: relative;
}

#something .backImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../sources/astronomy.jpg) 0 0/cover fixed no-repeat;
  opacity: 0.15;
  z-index: 10;
}

#something .something {
  position: relative;
  z-index: 11;
  padding: 40px 0px 20px 0px;
}

#something .something h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#something .something__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#something .something__content__qoute {
  width: 100%;
  padding: 15px;
  border-bottom: 1px white solid;
}

#something .something__content__qoute:last-child {
  border: none;
}

#something .something__content__qoute__text {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  text-align: left;
}

#something .something__content__qoute__autor {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}

#about {
  position: relative;
  background-color: white;
  color: black;
}

#about .about {
  padding: 40px 0;
}

#about .about h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

#about .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about__content img {
  width: 35%;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-right: 25px;
}

#about .about__content__main {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#about .about__content__main__title {
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
}

#about .about__content__main span.delimetre {
  height: 2px;
  background-color: black;
  width: 70%;
}

#about .about__content__main__text {
  margin-top: 15px;
  font-size: 25px;
  color: black;
}

#love {
  background-color: white;
  position: relative;
}

#love .backImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../sources/pornhub.jpg) center/cover fixed no-repeat;
  opacity: 0.06;
  z-index: 10;
}

#love .love {
  position: relative;
  z-index: 11;
  opacity: 1;
  padding: 40px 0px;
}

#love .love h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

#love .love__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#love .love__content img {
  height: 120px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  margin-bottom: 30px;
}

#love .love__content img:hover {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: heart 2.7s infinite;
          animation: heart 2.7s infinite;
}

@-webkit-keyframes heart {
  0% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  30% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  40% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  50% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  60% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  70% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes heart {
  0% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  30% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  40% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  50% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  60% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  70% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

#love .love__content__text {
  text-align: center;
  font-size: 25px;
}

#contact {
  background-color: black;
  color: white;
  position: relative;
}

#contact .contact {
  padding: 40px;
}

#contact .contact h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

#contact .contact article {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#contact .contact__content a {
  text-decoration: none;
  color: white;
  overflow: hidden;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#contact .contact__content a .contact__content__block {
  width: 300px;
  height: 300px;
  opacity: 0.2;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#contact .contact__content a:first-child {
  border-radius: 15px 0 0 15px;
  background: url(../sources/insava.jpg) center/cover no-repeat;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

#contact .contact__content a:first-child .contact__content__block {
  background-color: pink;
}

#contact .contact__content a:first-child:hover .contact__content__block {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.4;
}

#contact .contact__content a:last-child {
  border-radius: 0 15px 15px 0;
  background: url(../sources/Avaaa.jpg) 110%/cover no-repeat;
}

#contact .contact__content a:last-child .contact__content__block {
  background-color: rgba(0, 0, 255, 0.3);
}

#contact .contact__content a:last-child:hover .contact__content__block {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.4;
}

.Love {
  background-color: transparent;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  cursor: pointer;
}

.Love:hover {
  color: red;
}

@media (max-width: 1024px) {
  .planet-content__title {
    font-size: 7em !important;
  }
  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .work__card {
    width: 100% !important;
  }
  .work__card img {
    width: 25% !important;
  }
  .work__card + .work__card {
    margin-top: 25px !important;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__content img {
    margin: 0 0 15px 0 !important;
    min-width: 300px;
  }
  .about__content__main {
    width: 100% !important;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__content__main .delimetre {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  body.isOpened {
    overflow: hidden;
  }
  header {
    display: none;
  }
  .burger {
    display: block;
  }
  .forScroll {
    top: 0;
  }
  .planet-content__title {
    font-size: 5em !important;
  }
  .contact.container {
    padding: 0 !important;
  }
  .contact.container h2 {
    margin: 0 !important;
    padding: 15px;
  }
  .contact__content {
    min-width: 290px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .contact__content a:first-child {
    border-radius: 15px 15px 0 0 !important;
  }
  .contact__content a:last-child {
    border-radius: 0 0 15px 15px !important;
  }
  .contact__content .contact__content__block {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.4;
  }
}

@media (max-width: 565px) {
  .planet-content__title {
    font-size: 3.7em !important;
  }
}

@media (max-width: 425px) {
  .planet-content__title {
    font-size: 2.6em !important;
  }
  .work__card img {
    width: 40% !important;
  }
}

::-webkit-scrollbar{
  width: 10px;
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 5px;
  transition: all 0.05 ease;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0,0,0,0.5);
}
